body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background: linear-gradient(90deg, lightgrey, lightblue);
}

#mainHeading {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

#addItemBox {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
}


.justifyWithSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 100px;
  height: 30px;
}

#addItem {
  width: 160px;
  height: calc(100% - 4px);
  padding: 0 2px;
}

#optionsSection {
  width: 280px;
  margin: 15px auto;
}

.optionsFlex {
  display: flex;
  flex-direction: column;
}

.option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 5px;
  border-radius: 15px;
  border: 2px solid black;
  padding: 20px;
}

.option:hover {
  box-shadow: 0 5px 15px white;
}

.ticked > p {
  text-decoration: line-through black;
}

